doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      link(rel='stylesheet' href='/css/base.css')
      link(rel='stylesheet' href='/css/login.css')
      link(rel='stylesheet' href='/css/header.css')
      link(rel='stylesheet' href='/css/button.css')
      link(rel='stylesheet' href='/css/shop.css')
      link(rel='stylesheet' href='/css/shirt.css')
      link(rel='stylesheet' href='/css/cart.css')
      title T-Shirt Store
  
  body
   header.header
    nav
     ul
      li
        a(href='/') shop
      li
        a(href=`/cart/${user.id}`) cart
      li
        a(href='/login') login

   block content
    h1 T-Shirt Store
    h2 logged in as: #{user.name}
    div.filterContainer
     div.filter-dropdown
      button.filterBtn Featured
      div.filter-dropdown-content
       div(data-string='featured') Featured
       div(data-string='name') Alphabetically,A-Z
       div(data-string='-name') Alphabetically,Z-A
       div(data-string='price') Price,low to high
       div(data-string='-price') Price,high to low
    
    section.shop
     div.cart_container
      each shirt in shirts   
       div.box
        a(href=`/shirt/${shirt.id}`) 
         img.imgScale(src=`/img/shirts/${shirt.photo}` alt='photo of shirt')
         p #{shirt.name}
         p from $#{shirt.price}
 
      
   script(src='/js/bundle.js')
   script(src='/js/dropDown.js')
   script(src='/js/filterBtn.js')
   
     
  

  