extends base

block content 
 h1 Checkout 
 h1 logged in as: #{user.name}
 h2 total quantity: #{user.totalQuantity}
 section
   div.cart_container
    each item in user.cart
     div.box
      p shirt name : #{item.shirt.name}
      p Shirt price: #{item.shirt.price}
      p quantity: #{item.quantity} 
      button.delete(data-shirt-id=item.shirt._id) remove item

      button.edit_btn(data-shirt-id=item.shirt._id, data-quantity=item.quantity) edit
      div.dropdown
       button#dropbtn.dropbtn Quantity: #{item.quantity}