extends base

block content 
 h2 logged in as: #{user.name}

 section.checkout_section
  .cart
   .checkoutTitle 
    h1 Shopping Cart
    h2 price
   div.checkout_container
    each item in user.cart
     div.checkoutBox
      img.cartImage(src=`/img/shirts/${item.shirt.photo}` alt='photo of shirt')
      .detailContainer
       h2 name : #{item.shirt.name}
       p size: #{item.size}
       .cart_btn_container
        div.dropdown
         button#dropbtn.dropbtn Quantity: #{item.quantity}
        button.edit_btn(data-shirt-id=item.shirt._id, data-quantity=item.quantity) edit
        button.delete(data-shirt-id=item.shirt._id) delete
      .priceContainer  
       h2 $#{item.shirt.price}
  .payContainer     
   p SubTotal (#{user.totalQuantity} items): $#{user.totalPrice}
   button#book-shirt.checkoutBtn proceed to checkout
     