doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      link(rel='stylesheet' href='/css/style.css')
      title aung  | #{title}
  
  body
   .login-form
     h2#id.heading-secondary.ma-bt-lg #{shirt.id}
      form.form(data-shirt-id=shirt.id)
       .form__group
        label.form__label(for='size') current size: #{shirt.size}
        input#size.form__input(type='text', placeholder='medium', required)
       .form__group.ma-bt-md
        label.form__label(for='price') current price: #{shirt.price}
        input#price.form__input(type='number', placeholder='100', required)
       .form__group
        button.btn.btn--green update
      button.delete delete 


      script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js') 
      script(type='module' src='/js/update.js')
      script(type='module' src='/js/delete.js')
   